<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem id="workflow_root_menu"
              name="Workflows"
              sequence="10">
        <menuitem id="configuration_menu"
                  name="Configuration"
                  sequence="10">
            <menuitem id="workflowable_types_action_menu"
                      name="Workflowable Types"
                      action="workflowable_type_menu_action"/>
            <menuitem id="workflowables_action_menu"
                      name="Workflowables"
                      action="workflowable_menu_action"/>
            <menuitem id="workflow_users_action_menu"
                      name="Users"
                      action="workflow_user_menu_action"/>
            <menuitem id="workflow_user_roles_action_menu"
                      name="Roles"
                      action="workflow_user_role_menu_action"/>
            <menuitem id="workflow_jobs_action_menu"
                      name="Jobs"
                      action="workflow_job_menu_action"/>
            <menuitem id="workflow_states_action_menu"
                      name="States"
                      action="workflow_state_menu_action"/>
        </menuitem>
        <menuitem id="workflows_menu"
                  name="Routes"
                  sequence="10">
            <menuitem id="workflows_action_menu"
                      name="Routes"
                      action="workflow_menu_action"/>
            <menuitem id="workflow_stages_action_menu"
                      name="Stages"
                      action="workflow_stage_menu_action"/>
            <menuitem id="workflow_transitions_action_menu"
                      name="Routes Transitions"
                      action="workflow_transition_menu_action"/>
            <menuitem id="workflow_stage_transition_action_menu"
                      name="Stages Transitions"
                      action="workflow_stage_transition_menu_action"/>
        </menuitem>
        <menuitem id="workflow_procedures_menu"
                  name="Procedures"
                  sequence="10">
            <menuitem id="workflow_procedures_action_menu"
                      name="Procedures"
                      action="workflow_procedure_menu_action"/>
            <menuitem id="workflow_procedure_stages_action_menu"
                      name="Stages"
                      action="workflow_procedure_stage_menu_action"/>
            <menuitem id="workflow_procedure_stage_acls_action_menu"
                      name="Stage Access Control Lists"
                      action="workflow_procedure_stage_acl_menu_action"/>
            <menuitem id="workflow_procedure_cycles_action_menu"
                      name="Cycles"
                      action="workflow_procedure_cycle_menu_action"/>
            <menuitem id="workflow_procedure_cycles_action_menu"
                      name="Cycle Stages"
                      action="workflow_procedure_cycle_stage_menu_action"/>
            <menuitem id="workflow_procedure_transitions_action_menu"
                      name="Procedures Transitions"
                      action="workflow_procedure_transition_menu_action"/>
            <menuitem id="workflow_procedure_stage_transitions_action_menu"
                      name="Stages Transitions"
                      action="workflow_procedure_stage_transition_menu_action"/>
            <menuitem id="workflow_procedure_cycle_stage_transitions_action_menu"
                      name="Cycle Stage Transitions"
                      action="workflow_procedure_stage_transition_menu_action"/>
            <menuitem id="workflow_procedure_stage_transition_acls_action_menu"
                      name="Stage Transition Access Control Lists"
                      action="workflow_procedure_stage_transition_acl_menu_action"/>
            <menuitem id="workflow_procedure_executions_action_menu"
                      name="Executions"
                      action="workflow_procedure_execution_menu_action"/>
            <menuitem id="workflow_procedure_collisions_action_menu"
                      name="Collisions"
                      action="workflow_procedure_collision_menu_action"/>
        </menuitem>
        <menuitem id="workflow_processes_menu"
                  name="Processes"
                  sequence="10">
            <menuitem id="workflow_processes_action_menu"
                      name="Processes"
                      action="workflow_process_menu_action"/>
            <menuitem id="workflow_process_stages_action_menu"
                      name="Stages"
                      action="workflow_process_stage_menu_action"/>
            <menuitem id="workflow_process_stage_acls_action_menu"
                      name="Stage Access Control Lists"
                      action="workflow_process_stage_acl_menu_action"/>
            <menuitem id="workflow_process_cycles_action_menu"
                      name="Cycles"
                      action="workflow_process_cycle_menu_action"/>
            <menuitem id="workflow_process_cycles_action_menu"
                      name="Cycle Stages"
                      action="workflow_process_cycle_stage_menu_action"/>
            <menuitem id="workflow_process_transitions_action_menu"
                      name="Processes Transitions"
                      action="workflow_process_transition_menu_action"/>
            <menuitem id="workflow_process_stage_transitions_action_menu"
                      name="Stages Transitions"
                      action="workflow_process_stage_transition_menu_action"/>
            <menuitem id="workflow_process_cycle_stage_transitions_action_menu"
                      name="Cycle Stage Transitions"
                      action="workflow_process_cycle_stage_transition_menu_action"/>
            <menuitem id="workflow_process_stage_transition_acls_action_menu"
                      name="Stage Access Control Lists"
                      action="workflow_process_stage_transition_acl_menu_action"/>
            <menuitem id="workflow_process_executions_action_menu"
                      name="Executions"
                      action="workflow_process_execution_menu_action"/>
            <menuitem id="workflowable_positions_action_menu"
                      name="Process Positions"
                      action="workflowable_position_menu_action"/>
        </menuitem>
    </menuitem>
</odoo>